.jumbotron{
    background-color: #E0F7FA;
    width: 700px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 60px;
}

.search{
    width: 600px;
	text-align: center;
    position: relative;
    margin-left: auto;
	margin-right: auto;
}

.row{
    width: 600px;
	text-align: center;
    position: relative;
    margin-left: auto;
	margin-right: auto;
    top: 20px;
}

.top{
    padding-top: 15px;
}

.btn{
    color:#0D47A1;
}

.panel-default{
    background-color: #E0F7FA;
    border: none;
}

.rsize{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

.rsize2{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

.ck{
    padding-top: 40px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.panel-body{
    color:#0D47A1;
    background-color:#BBDEFB;
    margin-left: auto;
    margin-right: auto;
    width: 235px;
}

.small-btn{
    width: 20px;
    height: 20px;
}

.scrollit {
    height:400px;
    overflow-y:scroll;
}

.scrollit2 {
    direction:ltr;
    height:200px;
    overflow-y:scroll;
    direction: rtl;
 }

 .scrollit2 > div {
     direction: ltr;
 }

.material-icons.md-18 {
    font-size: 14px;
    text-align: center;
}
